@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* { font-family: 'PT Sans', sans-serif; }

body {
    margin: 0px;
    overflow-x: hidden;
    background-color: rgb(176, 176, 176);
}

.leftcolumn {   
    float: left;
    width: 50%;
}

.rightcolumn {
    float: right;
    width: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

.code-input {
    background-color:  #343434;
    resize: none;
    width: (100%);
    height: 95vh;
    font-size: 1.4rem;
    padding: 10px;
    overflow-y: scroll;
    color:white;
    font-family: 'Source Code Pro', monospace;
    margin: -4px;
}

.codeinput:focus {
    border: 0px solid black;
}

.hidden {
    display: none;
}

.showed {
    display: block;
}

#iframe-viewer {
    width: 100%;
    height: 100%;
    background-color: white;
}

.toptabbar {
    background-color: #1c1c1c;
    width: 100%;
    height: 8vh;
    line-height: 8vh;
}

.toptabbar a {
    transition: 0.3s;
}

.toptabbar a:hover:not(.toptabbar a.active) {
    background-color: #515151;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.621);
    height: 25px;
    color: white;
    padding: 10px;
}